	body
	{
		font-size: 13pt;
		min-width: 1200px;
		background: #252424;
	}

	h1
	{
		font-size: 4.1em;
		letter-spacing: -0.025em;
		line-height: initial;
	}

	h2
	{
		font-size: 2.6em;
		letter-spacing: -0.015em;
	}
	
	h3
	{
		font-size: 1.5em;
		letter-spacing: -0.015em;
	}

	h1, h2, h3, h4, h5, h6
	{
		margin: 0 0 0.5em 0;
	}

	header
	{
		margin: 0 0 3em 0;
	}
	
		header > span
		{
			font-size: 1.25em;
		}

	footer
	{
		margin: 4em 0 0 0;
	}
	
		footer > p
		{
			font-size: 1.25em;
		}
	
	form
	{
	}
	
		form .button
		{
			margin: 0 0.5em 0 0.5em;
		}
	
	.button
	{
		padding: 16px 30px;
		font-size: 1.1em;
		color: #252424;
	}
.ima{
	position: relative;
    height: 580px;
}
		.button-big
		{
			font-size: 1.5em;
			letter-spacing: -0.025em;
			margin-top: 40px;
		}

	.box
	{
		padding: 2em 2em 2.5em 2em;
	}

		.box h3
		{
			margin-bottom: 1em;
			color: #FCEC36;
		}

		.box .image-centered
		{
			margin-bottom: 1.25em;
		}

		.box .image-full
		{
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}
.box p{
	text-align: justify;
	font-size: 1.1em;
}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 6em 0 3em 0;
		text-align: center;
	}
	
		.wrapper-first
		{
			padding-top: 8em;
		}

		.wrapper-style4 .row-special
		{
			margin: 4em 0 0 0;
			padding: 4em 0 4em 0;
		}

/*********************************************************************************/
/* logo                                                                           */
/*********************************************************************************/

	#logo
	{
		margin-top: 56px;
		float: left;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	-o-box-sizing: border-box;
    	-ms-box-sizing: border-box;
    	box-sizing: border-box;
	}
	
	.icon-share
	{
		float: right;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	-o-box-sizing: border-box;
    	-ms-box-sizing: border-box;
    	box-sizing: border-box;
		margin-top: 64px;
	}
	.icon-share :before
{
	content: none;
}
	
	.icon-share a
{
	font-size: 0;
    padding-left: 28px;
}

	
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
		text-align: left;
	}

		#top .me
		{
			
			margin: 0;
		}

		#top h1
		{
			margin-top: 0.35em;
		}
	
		#top p
		{
			font-size: 1.1em;
			line-height: 1.75em;
		}
		
	#contact
	{
		width: 800px;
		margin: 0 auto;
	}
	
		#contact footer
		{
			font-size: 0.9em;
		}
.community .text{
	width: 558px;
    margin: auto;
    text-align: justify;
	font-size: 1.1em;
}
.community{
	margin-top: 60px;
}
/*********************************************************************************/
/* fotter                                                                    */
/*********************************************************************************/
.fotter_icon-share{
	float: left;
}
.fotter_icon-share .ico_weixin{
	font-size: 0;
    padding-right: 28px;
}
.fotter_icon-share .ico_twitter{
	font-size: 0;
    padding-right: 28px;
}
.cc{width: 100%;
    float: left;
    text-align: center;}
.cc p{vertical-align: middle;
    text-align: left;
	font-size: 1.1em;
}

