/*
 * Additional styling for participation stats
 */

.charts {
    display: flex;
    width: 100%;
    padding: 20px 0 0;
    border-radius: 6px;
    border: 2px solid #eee;
    margin: 16px 0;
    min-height: 240px;
}
.disclaimer,
.disclaimer a {
    color: #aaa;
}
.disclaimer a:hover {
    color: #555;
}

#CHARTS_LOADING {
    color: #c0c0c0;
    text-align: center;
    width: 100%;
    margin-top: 84px;
}

#ETH_CHART, #EFFECTIVE_ETH_CHART {
    flex: 1;
    max-width: 50%;
    overflow: hidden;
}

.numbers {
    display: flex;
}
.numbers > * {
    flex: 1;
}

@media (max-width: 680px) {
    .charts {
        display: block
    }
    #ETH_CHART, #EFFECTIVE_ETH_CHART {
        max-width: 100%;
    }
}
